.hero {
  position: relative;
  width: 100%;
  min-height: 389px;
  background-image: url("../img/global/hero/back-mobile.jpg");
  background-color: rgb(93, 93, 101);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    display: block;
    background: url("../img/global/hero/hero-border-bottom.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    bottom: 0;
  }

  &--shrinked {
    min-height: 158px;
  }

  @supports (background: url("../img/global/hero/back-mobile.webp")) {
    background-image: url("../img/global/hero/back-mobile.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/global/hero/back-mobile@2x.jpg");

    @supports (background: url("../img/global/hero/back-mobile@2x.webp")) {
      background-image: url("../img/global/hero/back-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/global/hero/back-desktop.jpg");
    min-height: 518px;

    &--shrinked {
      min-height: 290px;
    }

    @supports (background: url("../img/global/hero/back-desktop.webp")) {
      background-image: url("../img/global/hero/back-desktop.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/global/hero/back-desktop@2x.jpg");

      @supports (background: url("../img/global/hero/back-desktop@2x.webp")) {
        background-image: url("../img/global/hero/back-desktop@2x.webp");
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--shrinked {
      min-height: 301px;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
  }
}

.hero__container--shrinked {
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    margin-top: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 101px;
  }
}

.hero__text {
  width: 282px;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 461px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}

.hero__text--sedona {
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 457px;
  }
}

// .hero__container svg {
//   display: block;
//   width: 100%;
//   height: 100%;
// }
