.main-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--overflow {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.main-header__logo-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__logo-link--nojs {
    position: relative;
    left: 0;
    transform: translateX(0);
}
