.modal {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 116px 0;
  //


  &--ok {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &--error {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 45px 0 0;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 700px;

    &--ok {
      padding-top: 51px;
      min-width: 640px;
    }

    &--error {
      padding-top: 50px;
      min-width: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1000px;
  }
}

.modal__title {
  @include heading-desktop;
  margin: 0 auto;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;

    &--error {
      line-height: 38px;
    }
  }
}

.modal__caption {
  @include paragraph-mobile;
  margin: 0 auto;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;

    &--ok {
      padding-top: 30px;
    }

    &--error {
      padding-top: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    &--error {
      padding-top: 27px;
    }
  }
}

.modal__wrapper {
  width: 100%;
  text-align: center;

  &--ok {
    background-color: #f2f2f2;
    margin-top: 45px;
    padding-top: 20px;
  }

  &--error {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    &--ok {
      margin-top: 50px;
      padding-top: 44px;
    }

    &--error {
      padding-top: 47px;
    }
  }

  @media (min-width: $desktop-width) {
    &--ok {
      margin-top: 51px;
      padding-top: 45px;
    }
  }
}

.modal__confirm {
  @include heading-mobile;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

  &--error {
    margin-bottom: 35px;
    padding: 18px 78px 14px;
  }

  &--ok {
    margin-bottom: 19px;
    padding: 18px 75px 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--ok {
      padding: 18px 155px 15px;
      margin-bottom: 43px;
    }

    &--error {
      padding: 18px 122px 14px;
      margin-bottom: 49px;
    }
  }
}
