.advantages {
  margin: 0 auto;
  max-width: 410px;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  //
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  //
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--grey {
    padding: 24px 0;
    background-color: #eeeeee;

    &:not(:last-child) {
      border-bottom: solid 1px #d6d6d6;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;

    &--grey {
      border: none;
      width: 256px;
      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }

  @media (min-width: 768px) {
    &--grey {
      width: 400px;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;

  &--blue {
    color: #ffffff;
    background-color: #81b3d2;
    padding: 54px 18px 40px;
  }

  @media (min-width: 768px) {
    &--blue {
      width: 256px;
    }

    // &--grey {
    // }
  }

  @media (min-width: 1200px) {
    min-width: 400px;
    padding: 52px 0;
  }
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 11px;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.advantages__number {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.advantages__description {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.advantages__image {
  padding: 0;

  &--city {
    content: url("../img/unredner/index/photo-city-mobile@1x.jpg");
  }

  &--bridge {
    content: url("../img/unredner/index/photo-bridge-mobile@1x.jpg");
  }

  @media (min-width: 768px) {
    &--city {
      content: url("../img/unredner/index/photo-city-tablet@1x.jpg");
    }

    &--bridge {
      content: url("../img/unredner/index/photo-bridge-tablet@1x.jpg");
      order: -1;
    }

    @media (min-width: 1200px) {
      &--city {
        content: url("../img/unredner/index/photo-city-desktop@1x.jpg");
      }

      &--bridge {
        content: url("../img/unredner/index/photo-bridge-desktop@1x.jpg");
      }
    }
  }

  @media (min-width: 1200px) {
    flex-grow: 1;
    &--city {
      content: url("../img/unredner/index/photo-city-desktop@1x.jpg");
    }

    &--bridge {
      content: url("../img/unredner/index/photo-bridge-desktop@1x.jpg");
      order: -1;
    }
  }
}

.advantages__sublist {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.advantages__subitem {
  padding: 23px 0;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1200px) {
    width: 400px;
  }
}

.advantages__icon {
  width: 40px;
  height: 40px;

  @media (min-width: 768px) {
    width: 77px;
    height: 72px;
  }
}
