.advantages {
  position: relative;
  width: 100%;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;

    &--grey {
      border: none;
      width: calc(100% / 3);
    }
  }

  @media (min-width: $desktop-width) {
    &--grey {
      @include reset;
    }
  }
}

.advantages__item--sublist {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.advantages__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;

  &--blue {
    color: #ffffff;
    background-color: #81b3d2;
    padding-top: 32px;
    padding-bottom: 37px;
    position: relative;

    &--covered {
      padding-top: 48px;
    }

    &--covered::before {
      content: "";
      background: url("../img/global/advantage-border-top.svg");
      background-position: center;
      position: absolute;
      width: 100%;
      height: 37px;
      top: -18px;
      left: 0;
    }
  }

  &--grey {
    padding: 24px 0;
    margin: 0 $mobile-padding;
    border-bottom: solid 1px #d6d6d6;

    &--last {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--blue {
      width: calc(100% / 3);
      padding-top: 52px;
      padding-bottom: 0;

      &--covered {
        &::before {
          display: none;
        }
      }
    }

    &--grey {
      @include reset;
      margin: 0 auto;
      padding: 41px 0 42px;
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    padding-top: 37px;
    padding-bottom: 50px;

    &--grey {
      padding: 52px 50px;
      padding-bottom: 27px;
    }
  }
}

.advantages__title {
  @include heading-mobile;
  @include reset;

  &--blue {
    padding-top: 6px;
  }

  &--subitem {
    padding: 0;
    text-align: start;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 4px 0;

    &--subitem {
      padding-top: 26px;
    }

    &--grey {
      padding-top: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 17px 75px;
    padding-bottom: 0;

    &--grey {
      padding-top: 2px;
    }
  }
}

.advantages__number {
  @include paragraph-mobile;
  @include reset;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.advantages__description {
  @include paragraph-mobile;
  @include reset;
  padding-top: 17px;

  &--subitem {
    padding-top: 8px;
    text-align: left;

    &--first {
      padding-bottom: 24px;
    }
  }

  &--grey {
    padding: 17px 17px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 15px;
    font-size: 14px;
    text-align: center;

    &--subitem {
      padding: 0;
      padding-top: 18px;
    }

    &--grey {
      padding: 23px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 0;
  }
}

.advantages__description--subitem {
  @media (min-width: 500px) {
    text-align: center;
  }
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #ffffff;
  padding: 0 $mobile-padding 21px;

  &--grey {
    padding: 0;
    width: 100%;
    background-color: #eeeeee;
    min-height: 256px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 15px;
    width: 100%;

    &--grey {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.advantages__subitem {
  display: grid;
  grid-template-columns: 47px 1fr;
  align-items: center;
  padding-top: 27px;

  @media (min-width: 500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    padding: 60px 0 45px;
    grid-template-columns: 47px 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__icon {
  width: 40px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 92px;
  }
}

.advantages__picture {
  display: contents;
}

.advantages__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3 * 2);

    &--bridge {
      order: -1;
    }
  }
}
