.advantages {
  position: relative;

  &::after {
    content: "";
    background: url("../img/unredner/global/advantage-border-top.svg");
    background-position: center;
    position: absolute;
    width: 100%;
    height: 37px;
    top: -18px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;
  display: flex;
  flex-direction: column;

  &--blue:first-child {
    > .advantages__wrapper--blue {
      padding-top: 48px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;

    &--grey {
      border: none;
      width: calc(100% / 3);
    }
  }

  @media (min-width: $desktop-width) {
    &--grey {
      @include reset;
    }
  }
}


.advantages__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;

  &--blue {
    color: #ffffff;
    background-color: #81b3d2;
    padding-top: 26px;
    padding-bottom: 37px;
  }

  &--grey {
    padding: 24px 0;
    margin: 0 $mobile-padding;
    border-bottom: solid 1px #d6d6d6;

    &--last {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--blue {
      width: calc(100% / 3);
    }

    &--grey {
      @include reset;
      padding: 41px $tablet-padding;
      border-bottom: none;
    }
  }

  @media (min-width: 1200px) {
    min-width: 400px;

    &--grey {
      padding: 52px 50px;
    }
  }
}

.advantages__title {
  @include heading-mobile;
  @include reset;

  &--blue {
    padding-top: 6px;
  }

  &--subitem {
    padding: 0;
    text-align: start;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--subitem {
      padding-top: 26px;
    }

    &--grey {
      padding: 0 15px; //для корректного переноса
    }
  }
}

.advantages__number {
  @include paragraph-mobile;
  @include reset;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 20px;
  }
}

.advantages__description {
  @include paragraph-mobile;
  @include reset;
  padding-top: 17px;

  &--subitem {
    padding-top: 10px;
    text-align: left;
    &--first {
      padding-bottom: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    font-size: 14px;
    text-align: center;

    &--subitem {
      padding: 0;
      padding-top: 33px;
    }
  }
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #ffffff;
  padding: 0px $mobile-padding 21px;;

  &--grey {
    padding: 0;
    width: 100%;
    background-color: #eeeeee;
    min-height: 256px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
  }
}

.advantages__subitem {
  display: grid;
  grid-template-columns: 47px 1fr;
  align-items: center;
  padding-top: 27px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    padding: 60px $tablet-padding;
  }

  @media (min-width: 1200px) {
    width: 400px;
  }
}

.advantages__icon {
  width: 40px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 72px;
  }
}

.advantages__picture {
  display: contents;
}

.advantages__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3 * 2);

    &--bridge {
      order: -1;
    }
  }
}
