.advantages {
  margin: 0 auto;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  //
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  //
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &--grey {
    border-bottom: solid 1px #D6D6D6;

    &:last-child>.advantages__wrapper {
      padding-bottom: 28px;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;

    &--grey {
      border-bottom: none;
      width: 33%;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;

  &--blue {
    background-color: #81B3D2;
    padding: 33px 18px;
    padding-bottom: 40px;
  }

  &--grey {
    background-color: #eeeeee;
    padding: 24px 26px;
  }

  @media (min-width: 768px) {
    &--blue {
      padding: 52px 33px;
      padding-bottom: 31px;
    }

    &--grey {
      padding: 41px 33px;
      padding-bottom: 63px;
    }
  }
}

.advantages__title {
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 11px;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.advantages__number {
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.advantages__description {
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.advantages__image {
  padding: 0;
  color: #000000;

  &--city {
    content: url("../img/unredner/photo-city@1x 1.jpg");
  }

  &--bridge {
    content: url("../img/unredner/photo-bridge@1x 1.jpg");
  }

  @media (min-width: 768px) {
    &--city {
      content: url("../img/unredner/photo-city@1x.jpg");
    }

    &--bridge {
      content: url("../img/unredner/photo-bridge@1x.jpg");
      order: -1;
    }
  }
}

.advantages__sublist {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
  }

}

.advantages__subitem {
  padding: 23px 18px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}