.argument {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 18px $mobile-padding 0;

  @media (min-width: $tablet-width) {
    padding: 56px $tablet-padding 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: #ffffff;
    padding-top: 62px;
    padding-bottom: 84px;
  }
}

.argument__wrapper {
  width: 100%;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 87px;
  }
}

.argument__title {
  @include heading-desktop;
  @include reset;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.argument__description {
  @include paragraph-mobile;
  @include reset;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }
}

.argument__video-wrapper {
  display: block;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.argument__video {
  width: 100%;
  height: 100%;
}

.argumen__video-play {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 24px);
}
