.argument {
  margin: 0 auto;
  padding: 17px 26px;
}

.argument__wrapper {
  margin-bottom: 38px;
}

.argument__title {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.argument__description {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}