.argument {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: #ffffff;
    padding-top: 62px;
    padding-bottom: 84px;
  }
}

.argument__title {
  @include heading-desktop;
}

.argument__description {
  @include paragraph-mobile;
}

.argument__video {
  content: url("../img/unredner/catalog/gallery/video-mobile.jpg");

  @media (min-width: $tablet-width) {
    content: url("../img/unredner/catalog/gallery/video-tablet.jpg");
  }

  @media (min-width: 1200px) {
    padding-top: 64px;
    content: url("../img/unredner/catalog/gallery/video-desktop.jpg");
  }
}
