.argument {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.argument__title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.argument__description {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.argument__video {
  content: url("../img/unredner/catalog/gallery/video-mobile.jpg");

  @media (min-width: 768px) {
    content: url("../img/unredner/catalog/gallery/video-tablet.jpg");
  }

  @media (min-width: 1200px) {
    content: url("../img/unredner/catalog/gallery/video-desktop.jpg");
  }
}
