.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form {
  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: #ffffff;
  }
}

.feedback__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.feedback__inner {
  border-top: solid 1px #e5e5e5;
  width: 100%;
  padding: 24px 20px 24px;

  &--last {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    @include reset;
    border-top: none;
    margin-top: 48px;
    padding: 0 60px;

    &--full-name {
      padding-right: 43px;
      border-right: solid 1px #e5e5e5;
    }

    &--contacts {
      padding-left: 43px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.feedback__fieldset {
  @include reset;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    &--impressions {
      border-top: solid 1px #e5e5e5;
    }

    &--attractions {
      border-top: solid 1px #e5e5e5;
    }

    &--emotions {
      border-top: solid 1px #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    &--emotions {
      padding: 0 60px;
    }
  }
}


.feedback__legend {
  @include heading-mobile;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--contacts {
      margin: 0 calc(26px - 43px);
    }

    &--impressions {
      padding: 0 66px;
    }

    &--attractions {
      padding: 0 66px;
      width: 407px;
    }

    &--emotions {
      padding: 0 66px;
    }
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &--submit {
    margin-top: 8px;
  }

  &--last {
    margin-bottom: 0;
  }

  &--patronymic {
    margin-bottom: calc(39px - 24px);
  }

  &--phone::after {
    content: url("../img/unredner/form/phone.svg");
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    padding: 18px;
    background-color: #e6e6e6;
  }

  &--email {
    margin-bottom: calc(34px - 24px);
    &::after {
    content: url("../img/unredner/form/mail.svg");
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0px;
    padding: 20px;
    padding-top: 19px;
    background-color: #e6e6e6;
  }
}

  @media (min-width: $tablet-width) {
    &--submit {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $tablet-width) {
    &--submit {
      padding: 48px 64px;
    }
  }
}

.feedback__caption {
  @include paragraph-mobile;
  text-align: start;
  padding-left: 16px;
}

.feedback__field {
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  //
  padding: 16px;

  &--email {

  }

  &::placeholder {
    @include heading-mobile;
    text-transform: none;
    text-align: start;
  }

  &--blackplaceholder::placeholder {
    color: #000000;
  }

  &--emotions {
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
  }

  @media (min-width: $tablet-width) {
    &--emotions {
      margin-top: 28px;
    }
  }
}

.feedback__contacts {
  position: relative;
  border: none;
  border-top: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  //
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 34px;
}

.feedback__impressions {
  position: relative;
  border: none;
  border-top: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  //
  padding: 0;
  margin: 0;
  padding-top: 70px;
}

.feedback__list {
  @include reset;
  padding: 10px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;

  @media (min-width: $tablet-width) {
    padding: 28px 36px;
    row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46px 46px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    row-gap: 0;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr;

    &--attractions {
      grid-template-rows: 108px;
      column-gap: 40px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.feedback__attractions {
  border: none;
  border-top: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__emotions {
  border: none;
  display: flex;
  flex-direction: column;
}

.feedback_button {
  @include heading-desktop;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 16px 71px;
  }
}

.feedback__warning {
  @include paragraph-mobile;
  @include reset;
  font-size: 12px;
  text-align: end;
  color: rgba(51, 51, 51, 0.6);
}

//-------------RADIO&CHECKBOX------------//
.feedback__control {
  display: block;
  position: relative;
  padding-left: 47px;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.feedback__control-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 12px;
  top: 3px;
}

.feedback__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: #f2f2f2;
  //
  margin-top: -10px;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.feedback__control-mark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.feedback__control input:checked ~ .feedback__control-mark::after {
  display: block;
}

/* Style the indicator (dot/circle) */
.feedback__control--radio .feedback__control-mark::after {
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #333333;
}

.feedback__control--checkbox .feedback__control-mark::after {
  content: url("../img/unredner/form/tick.svg");
  padding: 15px 12px;
}

.feedback__control-label {
  @include heading-mobile;
  text-transform: none;
  padding-left: 16px;
}
