.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form {
  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: #ffffff;
  }
}

.feedback__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.feedback__inner {
  border-top: solid 1px #e5e5e5;
  width: 100%;
  padding: 24px 20px 24px;

  &--contacts {
    padding-bottom: 34px;
  }

  &--last {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    @include reset;
    border-top: none;
    margin-top: 48px;
    padding: 0 60px;

    &--full-name {
      padding-right: 43px;
      border-right: solid 1px #e5e5e5;
      width: 50%;
    }

    &--contacts {
      padding-left: 43px;
      width: 50%;
    }

    &--attractions {
      margin-top: 20px;
    }

    &--emotions {
      margin-top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;

    &--full-name {
      padding: 0;
      padding-right: 60px;
      width: 50%;
      min-width: 494px;
    }

    &--contacts {
      padding: 0;
      padding-left: 65px;
      width: 50%;
    }
  }
}

.feedback__fieldset {
  @include reset;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    &--impressions {
      border-top: solid 1px #e5e5e5;
    }

    &--attractions {
      border-top: solid 1px #e5e5e5;
    }

    &--emotions {
      border-top: solid 1px #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    &--emotions {
      padding: 0 95px;
    }
  }
}


.feedback__legend {
  @include heading-mobile;
  padding-bottom: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 28px;
    font-size: 21px;

    &--full-name {
      padding-left: 46px;
    }

    &--contacts {
      margin-left: -19px;
    }

    &--impressions {
      padding: 0 66px;
    }

    &--attractions {
      padding: 0 66px;
      width: 407px;
    }

    &--emotions {
      padding: 0 66px;
    }
  }

  @media (min-width: $desktop-width) {
    &--full-name {
      padding-left: 65px;
    }

    &--contacts {
      margin-left: 27px;
    }

    &--impressions {
      padding: 8px 66px;
    }

    &--attractions {
      padding: 0 66px;
    }
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &--submit {
    margin-top: 8px;
  }

  &--last {
    margin-bottom: 0;
  }

  &--patronymic {
    margin-bottom: calc(39px - 24px);
  }

  @media (min-width: $tablet-width) {
    &--submit {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    &--submit {
      padding: 0 96px;
    }
  }
}

.feedback__caption {
  @include paragraph-mobile;
  text-align: start;
  padding-left: 16px;
}

.feedback__input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.feedback__field {
  @include heading-mobile;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding: 16px;
  text-transform: none;
  text-align: start;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: solid 4px #e5e5e5;
  }

  &--phone {
    width: 80%;
    flex-grow: 1;
  }

  &--email {
    width: 80%;
    flex-grow: 1;
  }

  &--emotions {
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
  }

  @media (min-width: $tablet-width) {
    &--emotions {
      margin-top: 28px;
      height: 160px;
      padding: 16px 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &--emotions {
      padding: 16px 45px;
    }
  }
}

.feedback__input-icon-wrapper {
  height: 58px;
  width: 58px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__input-icon {
  width: 18px;
  height: 18px;
}

.feedback__impressions {
  position: relative;
  border: none;
  border-top: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  //
  padding: 0;
  margin: 0;
  padding-top: 70px;
}

.feedback__list {
  @include reset;
  padding: 10px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;

  @media (min-width: $tablet-width) {
    padding: 28px 36px;
    row-gap: 16px;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46px 46px;
    align-items: center;

    &--attractions {
      padding: 28px 83px;
      column-gap: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    row-gap: 0;
    grid-template-rows: 80px;
    grid-template-columns: 280px 280px 1fr;
    padding: 20px 50px 35px;
    column-gap: 30px;

    &--attractions {
      padding: 29px 45px 40px;
      grid-template-rows: 108px;
      column-gap: 64px;
      grid-template-columns: repeat(4, minmax(153px, 184px));
    }
  }
}

.feedback__attractions {
  border: none;
  border-top: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__emotions {
  border: none;
  display: flex;
  flex-direction: column;
}

.feedback_button {
  @include heading-desktop;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 0;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 100px;
  }
}

.feedback__warning {
  @include paragraph-mobile;
  @include reset;
  font-size: 12px;
  text-align: end;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

//-------------RADIO&CHECKBOX------------//
.feedback__control {
  display: block;
  position: relative;
  padding-left: 47px;
  cursor: pointer;
}

/* Скрыть дефолтную радио кнопку */
.feedback__control-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 12px;
  top: 3px;
}

.feedback__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: #f2f2f2;
  //
  margin-top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

/* создать новую отметку (скрытую) */
.feedback__control-mark::after {
  content: "";
  position: absolute;
  display: none;
}

.feedback__control-mark--tick {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -6px;
  left: 8px;
}

/* Показать отметку */
.feedback__control input:checked ~ .feedback__control-mark::after {
  display: block;
}

.feedback__control input:checked ~ .feedback__control-mark--tick {
  display: block;
}

/* стили для новой отметки */
.feedback__control--radio .feedback__control-mark::after {
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
}

.feedback__control-label {
  @include heading-mobile;
  text-transform: none;
  padding-left: 16px;
}
