.feedback {
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 60px;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.feedback__full-name {
  border: none;
  border-top: solid 1px #e5e5e5;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    border-right: solid 1px #e5e5e5;
    width: 50%;
  }
}

.feedback__title {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--submit {
    flex-direction: row;
    justify-content: space-around;
  }
}

.feedback__caption {
  padding-left: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
}

.feedback__field {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--emotions {
    width: 100%;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
}

.feedback__contacts {
  border: none;
  border-top: solid 1px #e5e5e5;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.feedback__impressions {
  border: none;
  border-top: solid 1px #e5e5e5;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feedback__attractions {
  border: none;
  border-top: solid 1px #e5e5e5;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__emotions {
  border: none;
  border-top: solid 1px #e5e5e5;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
}

.feedback_button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  border: solid;
  padding: 16px 49px;
  background-color: #81b3d2;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.feedback__required-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
