.find-hotel {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px $mobile-padding 49px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 66px;
  }
}

.find-hotel__title {
  @include heading-desktop;
  @include reset;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.find-hotel__description {
  @include paragraph-mobile;
  @include reset;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 220px;
    padding-top: 32px;
  }
}

.find-hotel__wrapper {
  padding-top: 32px;
  min-width: 284px;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    min-width: 458px;
    max-width: 550px;
  }
}

.find-hotel__link {
  @include heading-desktop;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 49px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #ffffff4d;

    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-top: 15px;
  }
}
