.find-hotel {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px $mobile-padding 32px;
  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px;
  }
}

.find-hotel__title {
  @include heading-desktop;
  @include reset;
}

.find-hotel__description {
  @include paragraph-mobile;
  @include reset;
  padding-top: 30px;
}

.find-hotel__wrapper {
  padding-top: 32px;
  min-width: 284px;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
    max-width: 550px;
  }
}

.find-hotel__link {
  @include heading-mobile;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 49px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}
