.find-hotel {
  margin: 0 auto;
  max-width: 410px;

  @media (min-width: 768px) {
    padding: 60px 166px;
  }

  @media (min-width: 1200px) {
    padding: 60px 371px;
  }
}

.find-hotel__title {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.find-hotel__description {
  margin: 0 auto;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 33px;
  }
}

.find-hotel__link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  border: solid;
  padding: 16px 49px;
  background-color: #81b3d2;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 26px;
  }
}
