.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.gallery__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.gallery__sublist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    align-items: start;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: solid 1px #e5e5e5;
  padding: 25px 20px;

  &--sublist {
    padding: 0;
    border: none;

    &:last-child {
      border-bottom: solid 1px #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;

    &--sublist {
      &:last-child {
        border-bottom: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}


.gallery__picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.gallery__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding: 22px 20px 16px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;

    &--even {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 22px 20px 14px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    width: 100%;

    &--even {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.gallery__wrapper--subitem {
  @media (min-width: $desktop-width) {
    padding: 18px 20px 15px;
  }
}

.gallery__caption {
  display: flex;
  flex-direction: column;
}

.gallery__caption--subitem {
  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.gallery__title {
  @include heading-mobile;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin: 0;

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.gallery__author {
  @include paragraph-mobile;
  text-transform: none;
  color: #333333;
  text-align: left;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 2px;
  }
}

.gallery__author--subitem {
  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.gallery__rate {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-top: 7px;
  color: #000000;

  @media (min-width: $tablet-width) {
    height: 100%;
    padding-top: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery__rate--subitem {
  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.gallery__icon {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  margin-left: -4px;
  margin-bottom: -2px;
  opacity: 0.3;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.gallery__number {
  @include reset;
  @include paragraph-mobile;
  font-weight: 700;
  text-align: left;


  @media (min-width: 1200px) {
    color: #ffffff;
  }
}
