.hero {
  position: relative;
  width: 100%;
  height: 389px;
  background-image: url("../img/unredner/global/hero/back-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    display: block;
    background: url("../img/unredner/global/hero/hero-border-bottom.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    bottom: 0;
  }

  &--small {
    height: 158px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/unredner/global/hero/back-desktop.jpg");
    height: 518px;

    &--small {
      height: 290px;
    }
  }

  @media (min-width: $desktop-width) {

    &--small {
      height: 301px;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  // &::after {
  //   content: "";
  //   display: block;
  //   background: url("../img/unredner/global/hero/hero-border-bottom.svg");
  //   background-position: center;
  //   position: absolute;
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   height: 57px;
  //   bottom: 0;
  // }

  @media (min-width: $tablet-width) {
    height: 518px;
    padding-top: 77px;

    &--small {
      height: 346px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      height: calc(300px + 56px);
    }
  }
}

.hero__container svg {
  display: block;
  width: 100%;
  height: 100%;
}

.hero__inner-top {
  &--small {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 257px;
    height: 85px;

  }

  @media (min-width: $desktop-width) {}
}

.hero__inner-middle {
  margin-top: 31px;

  &--small {
    margin-top: -39px;
    width: 231px;
  }

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 80px;
    margin-top: 51px;

    &--small {
      width: 460px;
      margin-top: 17px;
    }
  }

  @media (min-width: $desktop-width) {

    &--small {
      margin-top: 24px;
    }
  }
}

.hero__inner-bottom {
  margin-top: 33px;
  margin-left: -12px;
  &--small {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 295px;
    height: 80px;
    margin-top: 54px;
    margin-left: -20px;

  }

  @media (min-width: $desktop-width) {}
}

// .hero__text-top {
//   display: block;
// }

// .hero__text-middle {
//   display: block;
//   margin-top: 31px;
// }

// .hero__text-bottom {
//   display: block;
//   margin-left: -11px;
//     margin-top: 33px;
// }
