.hero {
  width: 100%;
  background-image: url("../img/unredner/global/hero/back-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width) {
    background-image: url("../img/unredner/global/hero/back-desktop.jpg");
  }
}

.hero__container {
  height: 389px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  &--small {
    height: 214px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../img/unredner/global/hero/hero-border-bottom.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    padding-top: 77px;

    &--small {
      height: 346px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      height: calc(300px + 56px);
    }
  }
}

.hero__text-middle {
  margin-top: 31px;
}

.hero__text-bottom {
  margin-left: -11px;
    margin-top: 33px;
}
