.hero {
  width: 100%;
  background-image: url("../img/unredner/global/hero/back-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width) {
    background-image: url("../img/unredner/global/hero/back-desktop.jpg");
  }
}

.hero__container {
  height: 389px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--small {
    height: 214px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../img/unredner/global/hero/hero-border-bottom.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    height: 518px;

    &--small {
      height: 346px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      height: calc(300px + 56px);
    }
  }
}

.hero__text {
  width: 282px;
  margin-top: 5px;

  &--small {
    margin-top: -15px;
  }

  @media (min-width: $tablet-width) {
    width: 457px;
    margin-top: -15px;

    &--small {
      top:50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -10px;
  }
}

.hero__caption {
  position: absolute;
  width: 100%;
  height: 49px;
  top: 173px;
  left: 0;

  &--small {
    width: 232px;
    margin-top: 39px;
  }

  @media (min-width: $tablet-width) {
    width: 461px;

    &--small {
      width: 457px;
      margin-bottom: -32px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 460px;

    &--small {
      height: 357px;
      margin-bottom: -36px;
    }
  }
}

.hero__welcome {
  &--small {
    display: none;
  }
}

.hero__sedona {
  &--small {
    width: 229px;
  }
}

.hero__slogan {
  &--small {
    display: none;
  }
}
