.hero {
  width: 100%;
}

.hero__container {
  height: 389px;
  position: relative;

  &--small {
    height: 214px;
  }

  &--main::before {
    content: "";
    display: block;
    background: url("../img/unredner/global/hero-greeting.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 214px;
    top: 90px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../img/unredner/global/hero-border-bottom.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    height: 518px;

    &--small {
      height: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      height: 357px;
    }
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--small {
    top: 214px;
    object-fit: none;
    object-position: center bottom;
  }
}

.hero__caption {
  position: absolute;
  width: 100%;
  height: 49px;
  top: 173px;
  left: 0;

  &--small {
    height: 40px;
    top: 108px;
  }

  @media (min-width: $tablet-width) {
    &--small {
      top: calc(95px + 56px);
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      top: calc(101px + 56px);
    }
  }
}
