.intro {
  width: 100%;
  text-align: center;
  padding: 34px $mobile-padding;

  &--form {
    padding: 36px $mobile-padding 28px;
  }

  &--catalog {
    padding: 39px $mobile-padding 36px;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 47px 0 55px;

    &--form {
      padding: 64px 150px calc(108px - 48px);
    }

    &--catalog {
      padding: 66px 0 81px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 44px;

    &--form {
      padding: 116px 350px 20px;
    }

    &--catalog {
      padding: 97px 0 89px;
    }
  }
}

.intro__title {
  @include heading-mobile;
  @include reset;
  display: inline-block;
  max-width: 270px;

  @media (min-width: $tablet-width) {
    @include heading-desktop;
    max-width: 520px;

    &--form {
      font-size: 30px;
    }

    &--catalog {
      font-size: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    @include heading-desktop;

    &--form {
      font-size: 30px;
    }

    &--catalog {
      font-size: 30px;
    }
  }
}

.intro__description {
  @include paragraph-mobile;
  @include reset;
  color: #333333;
  padding-top: 36px;

  &--form {
    padding-top: 25px;
  }

  &--catalog {
    padding-top: 24px;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 50px 0;

    &--form {
      padding-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    &--form {
      padding-top: 30px;
    }
  }
}
