.intro {
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    background-color: #ffffff;
  }
}

.intro__title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  min-width: 300px; //чтобы был правильный перенос

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 26px;
  }
}

.intro__description {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;


  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;
  }
}
