.intro {
  width: 100%;
  text-align: center;
  padding: 32px $mobile-padding;
  &--form {
    padding: 36px $mobile-padding 28px;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 47.5px 124px 55.5px;
    &--form {
      padding: 64px 150px calc(108px - 48px);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 59px 359px 44px;
  }
}

.intro__title {
  @include heading-mobile;
  @include reset;
  min-width: 300px; //чтобы был правильный перенос

  @media (min-width: $tablet-width) {
    @include heading-desktop;
  }
}

.intro__description {
  @include paragraph-mobile;
  @include reset;
  color: #333333;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}
