.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__title {
  color: #000000;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}