// .main-nav {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;

//   @media (min-width: $tablet-width) {
//     flex-direction: row;
//     align-items: center;
//   }

//   @media (min-width: $tablet-width) {
//     margin: 0 auto;
//     background-color: #ffffff;
//     max-width: 1200px;
//   }
// }

// .main-nav__wrapper {
//   box-sizing: border-box;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   transform: translateY(-100%);
//   transition: transform 0.5s;
//   z-index: 1;
//   background-color: #81b3d2;

//   &--active {
//     display: block;
//     transform: translateX(0);
//     transition: 1s;
//   }

//   @media (min-width: $tablet-width) {
//     position: relative;
//     display: flex;
//     z-index: 0;
//     background-color: #ffffff;
//     justify-content: space-between;
//     transform: translateX(0);
//     transition: none;
//   }
// }



// .main-nav__list {
//   @include reset;
//   list-style: none;

//   @media (min-width: $tablet-width) {
//     display: flex;
//     justify-content: space-around;

//     &--left {
//       width: 37%;
//       justify-content: space-between;
//     }

//     &--right {
//       width: 37%;
//       justify-content: space-between;
//     }
//   }
// }

// .main-nav__item {
//   text-align: center;
//   margin-bottom: 1px;
//   box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
//   padding: 17px 0 12px;

//   @media (min-width: $tablet-width) {
//     box-shadow: none;
//     padding: 0;
//     width: 50%;
//   }
// }
.main-nav {
  height: 56px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;
  background-color: #81b3d2;

  &--active {
    transform: translateX(0);
    transition: 1s;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 20%);
    position: relative;
    background-color: transparent;
    z-index: 0;
    transform: translateX(0);
    transition: none;
  }
}

.main-nav__inner {
  width: 100%;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:not(:last-child) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    margin-bottom: 1px;
  }

  @media (min-width: $tablet-width) {
    box-shadow: inset none;

    &:not(:last-child) {
      box-shadow: none;
    }
  }
}

.main-nav__link {
  @include heading-mobile;
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}

.main-nav__toggle {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4caf50;
  /* Green */
  border: none;
  width: calc(22.9px + 20px * 2);
  height: 57px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle-line {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 4px;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;

  &:nth-child(2) {
    top: calc(50% - 5px);
  }

  &:nth-child(3) {
    top: calc(50% + 5px);
  }
}

.main-nav__toggle-line--active {
  display: none;
}
