.main-footer {
  background-color: #ffffff;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: end;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 42px;
  position: relative;
  margin: 0 auto;
  padding: 41px 0;

  &--form {
    padding: 19px 0;
  }

  &--catalog {
    padding: 34px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 36px $tablet-padding;

    &--form {
      padding-top: 83px;
    }

    &--catalog {
      padding: 16px $tablet-padding;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
    max-width: $desktop-width;
    &--form {
      padding-top: 83px;
    }
  }
}

.main-footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 113px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    max-width: $desktop-width;
    margin: 0 auto;
    column-gap: 270px;
  }
}

.main-footer__title {
  @include heading-desktop;
  @include reset;
}

.main-footer__academy {
  margin-top: -5px;
}

.main-footer__academy-link {
  @include paragraph-mobile;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 14px;
}

.main-footer__academy-capture {
  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }
}
