.main-header {
  height: 56px;
  flex-shrink: 0;
  &--overflow {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
  }
}

.main-header__logo-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
