.main-nav {
  min-height: 56px;
  height: 100%;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;
  background-color: #81b3d2;

  &--active {
    transform: translateX(0);
    transition: 1s;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 20%);
    position: relative;
    background-color: transparent;
    z-index: 0;
    transform: translateX(0);
    transition: none;
  }
}

.main-nav__wrapper--nojs {
  position: relative;
  transform: none;
}

.main-nav__inner {
  width: 100%;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #81b3d2;
  margin-bottom: 1px;


  &:last-child {
    box-shadow: 0 1px 0 transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background: #5496bd;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 10px 0;
    background-color: #ffffff;
    box-shadow: none;

    &:hover {
      background-color: #ffffff;
    }

    &:active {
      background: #ffffff;
    }
  }
}

.main-nav__inner--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__link {
  @include heading-mobile;
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;

    &--current {
      color: #766357;
    }

    &[href]:hover {
      color: #81b3d2;
    }

    &[href]:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.main-nav__toggle {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  width: calc(22.9px + 20px * 2);
  height: 56px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__toggle span {
  background-color: rgba(129, 179, 210);
}

.main-nav__toggle:hover span {
  background-color: rgba(129, 179, 210, 0.6);
}

.main-nav__toggle:active span {
  background-color: rgba(129, 179, 210, 0.3);
}

.main-nav__toggle--active span {
  background-color: #ffffff;
}

.main-nav__toggle--active:hover span {
  background-color: #cde1ed;
}

.main-nav__toggle--active:active span {
  background-color: #a7cadf;
}

.main-nav__toggle-line {
  display: block;
  position: relative;
  margin: 0;
  width: 23px;
  height: 4px;
  transition: 0.2s;
}

.main-nav__toggle-line--active {
  width: 28px;

  &:nth-child(1) {
    top: 4px;
    transform: translate(0%, 0%) rotate(45deg);
  }

  &:nth-child(2) {
    display: none;
  }

  &:nth-child(3) {
    top: -5px;
    transform: translate(0%, 0%) rotate(-45deg);
  }
}
