.main-header {
  flex-shrink: 0;

  &--overflow {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.main-header__logo-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
