.main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-nav__wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;
  background-color: #81b3d2;

  &--active {
    display: block;
    transform: translateX(0);
    transition: 1s;
  }

  @media (min-width: 768px) {
    display: flex;
    z-index: 0;
    background-color: #ffffff;
    justify-content: space-between;
    transform: translateX(0);
    transition: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;

    &--left {
      width: 37%;
      justify-content: space-between;
    }

    &--right {
      width: 37%;
      justify-content: space-between;
    }
  }
}

.main-nav__item {
  text-align: center;
  -top: 17px;
  -bottom: 12px;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: 768px) {
    box-shadow: none;
  }
}

.main-nav__link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 768px) {
    color: #000000;
  }
}

.main-nav__toggle {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4caf50; /* Green */
  border: none;
  width: calc(22.9px + 20px * 2);
  height: 57px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__toggle-line {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 4px;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;

  &:nth-child(2) {
    top: calc(50% - 5px);
  }

  &:nth-child(3) {
    top: calc(50% + 5px);
  }
}
