.map {
  width: 100%;
  height: 350px;
}

.map__map {
  width: 100%;
  height: 350px;
}

// .map__container {
//   height: 350px;
//   position: relative;
// }

// .map__image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
