.modal {
  width: 100%;
  height: 100%;
  border: solid 1px #ff0000;
  position: relative;
  display: none;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //
}

.modal__title {
  @include heading-desktop;
}

.modal__caption {
  @include paragraph-mobile;
}

.modal__wrapper {
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
  text-align: center;
}

.modal__confirm {
  @include heading-mobile;
  //
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
