.social__list {
  @include reset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6px;
  row-gap: 6px;
  max-width: 210px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}

.social__link:hover {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;

  > .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  width: 24px;
  height: 24px;
}
