// Начните писать стили здесь
@use "./variables.scss";
@use "./fonts.scss";
@use "./advantages.scss";
@use "./argument.scss";
@use "./container.scss";
@use "./feedback.scss";
@use "./find-hotel.scss";
@use "./gallery.scss";
@use "./global.scss";
@use "./hero.scss";
@use "./intro.scss";
@use "./main-container.scss";
@use "./main-footer.scss";
@use "./main-header.scss";
@use "./main-nav.scss";
@use "./map.scss";
@use "./moovie.scss";
@use "./social.scss";
@use "./visually-hidden.scss";