// Начните писать стили здесь
@import "./variables.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./global.scss";
@import "./main-container.scss";
@import "./container.scss";
@import "./fonts.scss";
@import "./advantages.scss";
@import "./argument.scss";
@import "./feedback.scss";
@import "./find-hotel.scss";
@import "./gallery.scss";
@import "./hero.scss";
@import "./intro.scss";
@import "./main-footer.scss";
@import "./main-header.scss";
@import "./main-nav.scss";
@import "./map.scss";
@import "./social.scss";
@import "./visually-hidden.scss";
@import "./modal.scss";
